<ul class="scores">
  <li>
    <%= link_to image_tag("list0.jpg", alt: "Liste 1"), "http://liste1.com" %>
    Baba Forum
    <strong><%= Item.total_points 0 %> <small>pts</small></strong>
  </li>
  <li>
    <%= link_to image_tag("list1.jpg", alt: "Liste 2"), "http://liste2.com" %>
    Forum Boyard
    <strong><%= Item.total_points 1 %> <small>pts</small></strong>
  </li>
  <li>
    <%= link_to image_tag("list2.jpg", alt: "Liste 3"), "http://liste3.com" %>
    Forum Boyard
    <strong><%= Item.total_points 2 %> <small>pts</small></strong>
  </li>
</ul>
