<header>
  <h1>Pour qui faut-il voter ?</h1>

  <p class="best-list">
    <% if (Item.total_points(0) == Item.total_points(1) and Item.total_points(2) == Item.total_points(0)) or
	      (Item.total_points(0) == Item.total_points(1) and Item.total_points(0) > Item.total_points(2)) or
		  (Item.total_points(0) == Item.total_points(2) and Item.total_points(0) > Item.total_points(1)) or
		  (Item.total_points(1) == Item.total_points(2) and Item.total_points(1) > Item.total_points(0)) %>
    <%= image_tag "bedzoum.png", alt: "BEDzoum" %>
    Il faut voter <strong>BEDzoum</strong>
    <small>Parce qu'en cas d'égalité, ce sont toujours eux qui gagnent.</small>
    <% else %>
    <%= image_tag "list#{@best_list}.jpg", alt: Item::LIST_NAMES[@best_list] %>
    Il faut voter <strong><%= Item::LIST_NAMES[@best_list] %></strong>
    <% end %>
  </p>

  <div class="boxes">
    <%= link_to challenges_path do %>
      <div class="box">
        <h2>Challenges</h2>
        <%= image_tag "cup.svg", alt: "Challenges" %>
      </div>
    <% end %>

    <%= link_to wall_path do %>
      <div class="box">
        <h2>The Wall</h2>
        <%= image_tag "chat.svg", alt: "The Wall" %>
      </div>
    <% end %>
  </div>
</header>




<h2>Détails</h2>

<%= render 'scores' %>

<ul class="items">
<% @items.each do |i| %>
  <li class="list<%= i.list %>">
    <strong class="<%= if i.points > 0 then 'pos' else 'neg' end %>">
      <%= image_tag "list#{i.list}.jpg", alt: Item::LIST_NAMES[@best_list] %>
      <%= i.points %> <small>pts</small>
    </strong>
    <%=auto_link i.title %>
  </li>
<% end %>
</ul>
