// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/


@cloud: #ecf0f1;
@blue: #2c3e50;


body {
  background-color: @blue;
  color: @cloud;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}


header {
  color: @blue;
  background-color: @cloud;
  padding-bottom: 3em;

  .big-link {
    font-size: 1.5em;
    margin-top: 3em;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 100;
  font-size: 5em;
  line-height: 2em;
  text-align: center;
  margin: 0;
}


.best-list {
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;

  img {
    max-height: 40%;
    max-width: 25%;
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }

  strong {
    display: block;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: 300;
  }
}

h2 {
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  margin: 0.5em 0 1em 0;
}


.boxes {
  text-align: center;
  margin-top: 5em;
}

.box {
  background-color: @blue;
  width: 30%;
  margin: 0 30px;
  display: inline-block;
  color: @cloud;

  a {
    text-decoration: none;
  }

  h2 {
    font-weight: 100;
    margin-bottom: 10px;
  }

  img {
    width: 10em;
    fill: @cloud;
  }

  &:hover {
    opacity: 0.8;
  }
}


.scores {
  list-style: none;
  font-size: 3em;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;

  img {
    max-height: 100px;
    display: block;
    margin: auto;
  }

  li {
    display: inline-block;
    width: 32%;
    text-align: center;
    line-height: 2em;

    strong {
      display: block;
      font-size: 2em;

      small { 
        font-size: 0.3em; 
        font-weight: 100;
      }
    }
  }
}


.items {
  list-style: none;
  font-size: 1.6em;
  margin: 0;

  li {
    width: 41%;
    line-height: 1.3em;
    clear: both;
    margin-bottom: 1em;
    word-wrap: break-word;

    strong {
      text-align: center;
      font-size: 1.5em;

      img { display: none; }

      small {
        font-weight: 100;
        font-size: 0.5em;
      }

      &.pos { color: #2ecc71; }
      &.neg { color: #e74c3c; }
    }

    &.list0 {
      margin-left: 5%;

      strong {
        float: right;
        text-align: right;
        margin-left: 10%;
      }
    }

    &.list1 {
      margin-left: 50%;
      text-align: right;

      strong {
        float: left;
        text-align: left;
        margin-right: 10%;
      }
    }
  }
}


.items.challenges {
  margin-top: 2em;

  li {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;

    strong {
      width: 3em;
      text-align: right;
      margin-right: 1em;
      float: left;
    }
  }
}


.big-link {
  text-align: center;
  font-size: 2em;
}


footer {
  font-size: 0.8em;
  margin-top: 3%;
  margin-left: 1%;
  color: lighten(@blue, 30%);
  clear: both;

  a {
    color: lighten(@blue, 30%);
  }
}


dl.chats {
  font-size: 2em;
  margin: 1em 10%;

  dt {
    display: inline-block;
    margin-right: 40px;
    width: 35%;
    font-weight: 300;
    text-align: right;
    clear: both;
  }

  dd {
    display: inline-block;
    width: 55%;
    margin-bottom: 10px;
  }

  time {
    font-style: italic;
    font-weight: 100;
    font-size: 0.5em;
    margin-right: 10px;

    &:before {
      content: 'il y a '
    }
  }
}

.new_chat {
  text-align: center;

  input {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px @cloud;
    text-align: left;
    padding: 0 15px;

    &:focus {
      border: solid @blue 1px;
      outline: none;
    }
  }

  #chat_pseudo {
    width: 20%;
  }

  #chat_message {
    width: 40%;
  }

  input[type=submit] {
    width: 10%;
    background-color: @blue;
    color: @cloud;
    text-align: center;
  }
}
