<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pour qui faut-il voter ?</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>



    <div class="container-fluid">
      <nav>
        <ul>
          <li><%= link_to "Back to home page", home_path %></li>
          <% if current_admin %>
          <li><%= link_to "Item list", items_path %></li>
          <li><%= link_to "Chat", chat_index_path %></li>
          <li><%= link_to "Invitations", new_admin_invitation_path %></li>
          <li><%= link_to "Logs", logs_path %></li>
        </ul>
        <ul class="right">
          <li>Hello <%= current_admin.name %></li>
          <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>


      <footer>
        <p>Made with love in A406 - <%= link_to "Fork me on GitHub", "https://github.com/allegrem/pour-qui-faut-il-voter" %></p>
      </footer>

    </div> <!-- /container -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= ENV['ANALYTICS'] %>', '<%= ENV['ANALYTICS_DOMAIN'] %>');
      ga('send', 'pageview');

    </script>

  </body>
</html>
